.about {
  width: 100vw;
  height: 3000px;
  text-align: center;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-size: 58px;
  font-weight: bold;
  color: #539df1;
  margin-bottom: 100px;
  z-index: 1; /* 텍스트가 배경보다 위에 오도록 설정 */
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1000px;
  z-index: 1;
}

.about-description h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 80px;
}

.about-description p {
  font-size: 32px;
  margin: 10px 0;
}
.about-description .first {
  margin-bottom: 50px;
}
.about-description span {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.about-cards {
  margin-top: 150px;
  display: flex;
  gap: 30px;
}

.about-card {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 230px;
  border: 2px solid #539df1;
  border-radius: 15px;
  text-align: start;
  padding: 50px;
  justify-content: center;
  position: relative;
  background: linear-gradient(135deg, #121212,#121212);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
    animation: background-shift 1s forwards; /* 배경 애니메이션 시작 */
    transform: translateY(-10px) scale(1.05); /* 카드 크기 확대와 위로 이동 */
  }

.about-icon img {
  width: 60px;
  transition: transform 0.3s ease;
}
.about-card:hover .about-icon img {
    transform: rotate(10deg) scale(1.1);
  }
.about-type {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.about-detail {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.history {
    width: 1920px;
    height: 1600px;
    margin-top:  200px;
    display: flex;
    justify-content: center;
    gap: 500px;
}

.history-develop {
    text-align: start;
}

.history-year{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.history-develop-title {
    font-weight: bold;
    font-size: 48px;
    color: #539df1;
}

.history-year-title {
    font-weight: bold;
    font-size: 56px;
    color: #539df1;
}

.history-develop-detail {
    margin-top: 50px;
    font-size: 24px;
}

.history-year-detail {
    margin-top: 50px;
    font-size: 24px;
    display: flex;
    gap: 50px;
    margin: 30px 0;
}

.history-year-detail-sub-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.history-year-detail-month {
    width: 50px;
    color: #539df1;
    font-size: 32px;
}

.history-year-detail-sub span {
    font-size: 20px;
    color: #c6c6c6;
}
