.effect {
    width: 100vw;
    height: 1800px;
    text-align: center;
    padding: 80px 20px;
    background-color: #121212;
    color: white;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .effect-title {
    font-size: 58px;
    font-weight: bold;
    color: #539df1;
    margin-bottom: 50px;
  }
  
  .effect-description {
    font-size: 32px;
    margin-bottom: 60px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .effect-description p {
    margin: 10px 0;
  }
  
  .effect-description span {
    color: #539df1;
    font-weight: bold;
  }

  .cards {
    display: flex;
    gap: 50px;
    justify-content: center;
  }

  .card {
    width: 470px;
    height: 595px;
    border: 2px solid #539DF1;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    box-sizing: border-box;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-20px);
  }

  .card .num {
    font-size: 20px;

  }

  .card .title {
    font-size: 32px;
    font-weight: bold;
  }

  .card .title span {
    color: #539df1;
  }

  .card .detail {
    font-size: 20px;
    margin-top: 20px;
  }

  .card .btns {
    margin: 15px 0;
    display: flex;
    gap: 10px;
  }

  .card .btn {
    padding: 5px 10px;
    border: 1px solid #539df1;
    border-radius: 25px;
    background-color: #121212;
    color: #fff;
  }

  .card-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .card-icon img {
    width: 250px;
  }

  .card:nth-child(2) {
    margin-top: 100px;
  }